.App {
  display: flex;
}

.sidebar-container {
  width:250px;
  height: 150vh;
  background: #8140c2;
  padding-top: 20px;
}

.nav-list {
  list-style: none;
  padding: 0;
}

.nav-item {
  padding-left: 15px;
  padding-top: 15px;
  color: rgb(255, 255, 255);
  width: 94%;
}

.nav-item a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: block;
  font-family: cursive;
  font-size: larger;
}

.nav-item a.active {  
  background: #5ebcab;
  display: block;
}
  
.content {
  flex-grow: 1;
  padding: 20px;
}
